{% extends 'base.html' %}
{% load bootstrap3 %}


{% block title %}Password reset{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 well" style="background-color: bisque">
                <pre class="text-center" style="color: crimson"><strong>P A S S W O R D   R E S E T</strong></pre>
                <h1>Password reset</h1>
                <p>Please read the instructions below...</p>
                <blockquote>
                    <p>The new password has been accepted.<br>You are already <a href="{% url 'index' %}">logged in</a>.</p>
                </blockquote>
                <br><br>
                <a class="btn-lg btn-info" href="{% url 'index' %}"><span class="glyphicon glyphicon-step-backward"></span> Back</a>
            </div>
        </div>
    </div>

{% endblock %}
