{% extends "base.html" %}
{% load bootstrap3 %}


{% block title %}Patient register{% endblock %}


{% block content %}

    <div class="container">
        <div class="row well" style="background-color: bisque">
            <h1 class="text-center">Small Clinic</h1>
            <p class="text-center">Application to handle small clinics</p>
            {% include 'blocks/patient_data.html' %}
            <div class="col-lg-6">
                <h4 class="text-center well" style="background-color: aquamarine"><strong style="color: crimson">SPECIALIZATION: {{ spec|capfirst }}</strong></h4>
                <blockquote>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 style="color: darkgreen"><strong style="border-bottom: double 3px;">Your choice</strong><br><br>Medical name:<strong> {{ medical.forename }} {{ medical.surname }}</strong><br>consulting room:<strong> {{ medical.consulting_room }}</strong></h4><hr>
                                {% for field in form %}
                                    {% bootstrap_field form.date_of_visit placeholder='Choose date of visit' %}
                                {% endfor %}
                                <div class="btn-group btn-group-md">
                                    <a class="btn btn-primary" href="{% url 'medical_visit:medical_staff_view' patient_id spec %}"><span class="glyphicon glyphicon-step-backward"></span> Back to medicals choice</a>
                                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Confirm</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </blockquote>
            </div>
        </div>
    </div>

{% endblock %}
