{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Create new user{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 well" style="background-color: bisque">
                <pre class="text-center" style="color: crimson"><strong>C H A N G E   P A T I E N T'S   D A T A   F O R M</strong></pre>
                <form action="." method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <div class="btn-group btn-group-md">
                            <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-ok"></span> Save changes</button>
                            <a class="btn btn-info" href="{% url 'registrations:register' %}"><span class="glyphicon glyphicon-step-backward"></span> Back to the patients list</a>
                        </div>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
