
<div class="col-lg-6">
    <h4 class="text-center well" style="background-color: aquamarine"><strong style="color: crimson">CHOICE SPECIALIZATION</strong></h4>
    <blockquote>
        <div class="btn-group-vertical">
            <a class="btn btn-primary btn-lg" href="{% url 'registrations:medical_presence' spec='dentist' %}">Dentist</a>
            <a class="btn btn-success btn-lg" href="{% url 'registrations:medical_presence' spec='internist' %}">Internist</a>
            <a class="btn btn-warning btn-lg" href="{% url 'registrations:medical_presence' spec='laryngologist' %}">Laryngologist</a>
            <a class="btn btn-info btn-lg" href="{% url 'registrations:medical_presence' spec='ophthalmologist' %}">Ophthalmologist</a>
            <a class="btn btn-danger btn-lg" href="{% url 'registrations:medical_presence' spec='pediatrician' %}">Pediatrician</a>
        </div>
    </blockquote>
</div>
